---
http_interactions:
- request:
    method: get
    uri: https://vpic.nhtsa.dot.gov/api/vehicles/decodevin/123?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ssl-Tls:
      - TLSv1.2
    body:
      encoding: UTF-8
      string: '{"Count":116,"Message":"Results returned successfully","SearchCriteria":"VIN:123","Results":[{"Value":"","ValueId":"","Variable":"Suggested
        VIN","VariableId":142},{"Value":"11- Incorrect Model Year, decoded data may
        not be accurate!","ValueId":"11","Variable":"Error Code","VariableId":143},{"Value":"","ValueId":"","Variable":"Possible
        Values","VariableId":144},{"Value":"","ValueId":"","Variable":"Additional
        Error Text","VariableId":156},{"Value":null,"ValueId":null,"Variable":"Destination
        Market","VariableId":10},{"Value":null,"ValueId":null,"Variable":"Make","VariableId":26},{"Value":null,"ValueId":null,"Variable":"Ma[...]
